<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container{
            display: flex;
            flex-direction: column;
            padding:1rem;
            
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top">
            Welcome to fastApi Course
        </div>

        <div class="bot">
            This is {{name}}!
        </div>

    </div>
</body>
</html>