<!DOCTYPE html>
<html>
<head>
    <title>Item Table</title>
    <script>
        function showcloning(){
            const statusdiv = document.getElementById("status");
            statusdiv.innerText= 'Cloning...';
        }
    </script>
</head>
<body>
    <form method="get" action="/" onsubmit="showcloning()">
    <label for="git_url">GitHub clone URL</label>
    <input type="url" name="git_url" id="git_url">

    <label for="directory">Directory</label>
    <input type="text" name="directory" id="directory">

    <button type="submit">Clone the Repo</button>
</form>
<div id="status">
{% if msg %}
<p>{{msg}}</p>
{% endif %}
</div>

</body>
</html>
